@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

html,
body {
	height: 100%;
}

#app {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	line-height: 1.6;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	@apply px-3 sm:px-8 md:px-10 max-w-[640px] sm:max-w-[768px] md:max-w-[1024px] lg:max-w-[1280px] xl:max-w-[1420px] mx-auto;
}
