@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

}
